body {
    min-height: 100vh;
    background-color: rgb(110, 69, 134);
    display: grid;
    grid-template-rows: 56px 1fr 112px;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: #f1f1f1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
